.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-column,
.right-column {
  flex: 1; /* Both columns will have equal width */
  padding: 10px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
}

button {
  padding: 5px;
  margin: 5px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

.class-details ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
